<!DOCTYPE html>
<html>
	<head>
		<title>RED App</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<style>
.msgbody {
	background: red;
}

.msgcenter {
	
	/*height: 10%;
	width: 20%;*/
	color: pink;
	font-size: 60px;
	background-color: red;
	font-family: sans-serif;
	position: absolute;
	/*border: 3px solid black;*/
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	margin: auto ! important;
}
		</style>
	</head>
	<body class="msgbody">
		<div class="msgcenter">RED APP</div>
	</body>
</html>